body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 35px 87px;
    box-sizing: border-box;
}   

header h1{
    margin: 0;
}

header a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 14px;
    font-size: 13px;
}

header img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

header div{
    display: flex;
    align-items: center;
}
